.root {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.head1 {
    font-size: 50px;
    color: rgb(32, 30, 114);
}
.bt{
    border-radius: 500px;
    display: inline-block;
}
.box{
    color: rgb(35, 20, 78);
}
